.main {
    height: 100%;
    overflow: auto;
    display: flex;
    background: url('../assets/Landingpage_Desk\ JPG\ JPG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 16 / 9;
    margin-left: auto;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: calc(100vw - 80px);
        left: 20px;
        padding: 0px 20px;
        top: 10px;
    }

    .bg {
        width: 100%;
        height: 100%;
    }

    .img-mobile {
        display: none;
    }


    .logo_tech {
        width: auto;
        height: 60px;
    }

    .logo_30 {
        width: auto;
        height: 80px;
    }

    .content {
        height: 100%;
        height: fit-content;
        color: white;
        text-align: center;
        width: 100%;
        padding: 20px 40px;

        .content-main {
            width: 30%;
            min-width: 300px;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
        }

        .title {
            margin-bottom: 50px;
            font-size: 15px;
            line-height: 21px;
        }

        .suss_mess {
            font-size: 17px !important;
            font-weight: 800 !important;
        }

        .title-mobile {
            display: none;
        }

        .div-timeline {
            width: fit-content;
            margin: auto;
            margin-bottom: 10px;

            .timeline {
                display: grid;
                grid-template-columns: 110px calc(100% - 10px - 110px);
                gap: 10px;
                font-size: 12px;

                p {
                    margin-top: 0px;
                    margin-bottom: 2px;
                    white-space: pre-wrap;
                    text-align: left;
                }

                .time {
                    text-align: right;
                    font-weight: 700;
                    white-space: nowrap;

                }
            }
        }

        .item {
            margin-top: 20px;

            input {
                margin: auto;
                width: calc(100% - 40px);
                margin-top: 20px;
                background-color: white;
                padding: 10px 20px;
                border-radius: 20px;
                display: block;
                border: none;
                font-size: 16px;
            }
        }

        .sub {
            font-size: 10px;

            p {
                margin-top: 0px;
                margin-bottom: 10px;

            }
        }

        button {
            background-image: url(../assets/Capture.PNG);
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 10px 25px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 10px;
            background-color: brown;
            color: white;
            border: none;
            cursor: pointer;
        }
    }

    .ticker {
        text-align: center;

        .info_div {
            width: 75%;
            margin: auto;

            .info {
                border: 1px solid #533422;
                border-bottom: none;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 10px;

                p:first-child {
                    margin-bottom: 10px;
                    font-size: 17px;
                    text-transform: uppercase;
                }

                p {
                    margin-top: 0px;
                    margin-top: 5px;
                    font-size: 14px;
                }
            }

            .info_type {
                border: 1px solid;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color: white;
                padding: 10px;
                font-size: 20px;
            }
        }

        .qr {
            width: 120px;
            margin-top: 20px;
        }

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.mb-20 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    .main {
        aspect-ratio: inherit !important;
    }

    .bg-mobile {
        background: url('../assets/Landingpage_Mobile_01\ background\ +\ logo\ JPG.jpg');
        justify-content: center !important;
        background-size: cover !important;
    }

    .bg {
        display: none !important;
    }

    .title-mobile {
        display: block !important;
        font-size: 14px !important;
        font-weight: 700;
    }

    .img-mobile {
        display: block !important;
        width: 100%;
    }

    .title {
        display: none !important;
    }

    .content {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px !important;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            width: 80% !important;
            position: inherit !important;
        }

        .content-main {
            width: 80% !important;
            transform: none !important;
            position: inherit !important;
        }

        button {
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }

        .item {
            font-size: 14px;
            width: 80%;
            margin: auto;
            margin-top: 15px !important;

            input {
                margin-top: 10px !important;
            }
        }
    }
}

.swiper-div {
    position: relative;


}

.next {
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 36%;
    left: 20px;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 1000;
}

.prev {
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 36%;
    right: 20px;
    transform: translate(-50%, -50%) rotate(-90deg);
    z-index: 1000;
    font-style: normal;

}

.nowrap {
    white-space: nowrap;
}

.scrolldown-container {
    background: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #191947;

    .scrolldown-btn {
        width: 50px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;

        svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;

            path {
                &.first-path {
                    animation: scrollanim 1s ease-in-out infinite;
                    animation-delay: 0.8s;
                }

                &.second-path {
                    animation: scrollanim2 1s ease-in-out infinite;
                }
            }
        }
    }
}

@-webkit-keyframes scrollanim {
    0% {
        -webkit-transform: translate(0, -40px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translate(0, 0);
        opacity: 0.8;
    }
}

@-moz-keyframes scrollanim {
    0% {
        -moz-transform: translate(0, -40px);
        opacity: 0;
    }

    60% {
        -moz-transform: translate(0, 0);
        opacity: 0.8;
    }
}

@keyframes scrollanim {
    0% {
        -webkit-transform: translate(0, -40px);
        -moz-transform: translate(0, -40px);
        -ms-transform: translate(0, -40px);
        -o-transform: translate(0, -40px);
        transform: translate(0, -40px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

@-webkit-keyframes scrollanim2 {
    0% {
        -webkit-transform: translate(0, -40px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translate(0, 0px);
        opacity: 0.6;
    }
}

@-moz-keyframes scrollanim2 {
    0% {
        -moz-transform: translate(0, -40px);
        opacity: 0;
    }

    60% {
        -moz-transform: translate(0, 0px);
        opacity: 0.6;
    }
}

@keyframes scrollanim2 {
    0% {
        -webkit-transform: translate(0, -40px);
        -moz-transform: translate(0, -40px);
        -ms-transform: translate(0, -40px);
        -o-transform: translate(0, -40px);
        transform: translate(0, -40px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translate(0, 0px);
        -moz-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        -o-transform: translate(0, 0px);
        transform: translate(0, 0px);
        opacity: 0.6;
    }
}

;