<div class='main bg-mobile'>
  <div class='content'>
    <div class='logo'>
      <img class='logo_30' src="../assets/Logo_30.png" alt="">
      <img class='logo_tech' src="../assets/LogoTech.png" alt="">
    </div>
    <div class='content-main'>
      <div *ngIf="!isHaveTicket">
        <p class='title'>
          Chúc mừng quý khách là một trong những vị khách sở hữu cặp vé tham dự
          <br>
          Đại nhạc hội.
          <br>
          Vui lòng điền thông tin sau để nhận vé:
        </p>
        <p class='title-mobile'>
          Chúc mừng quý khách là một trong những vị khách sở hữu cặp vé tham dự
        </p>
        <img class='img-mobile' src="../assets/cat dung cụm chữ thời khắc giao thời.png" alt="">
        <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
          <div class='item'>
            MÃ ĐỊNH DANH*
            <input type="text" formControlName='code' required>
          </div>
          <div class='item'>
            HỌ VÀ TÊN*
            <input type="text" formControlName='name' required>
          </div>
          <div class='item'>
            EMAIL
            <input type="text" formControlName='email'>
          </div>
          <button>
            NHẬN VÉ
          </button>
        </form>
      </div>
      <div *ngIf="isHaveTicket" class='ticker'>
        <img class='img-mobile mb-20' src="../assets/cat dung cụm chữ thời khắc giao thời.png" alt="">
        <div class='info_div'>
          <div class='info'>
            <p>
              <strong>
                {{user.name}}
              </strong>
            </p>
            <p>MÃ ĐỊNH DANH: {{user.code}}</p>
            <p>KHÁN ĐÀI: A1</p>
            <p>SỐ GHẾ: {{user.number}}</p>
          </div>
          <div class='info_type' [ngStyle]="{ 'border-color': user.color, background: user.color}">
            <strong>
              {{user.type}}
            </strong>
          </div>
        </div>
        <img class='qr' src="../assets/qr.png" alt="">
        <button>
          LƯU HÌNH ẢNH VÉ
        </button>
      </div>
      <div class='sub'>
        <p class='' *ngIf="!isHaveTicket">
          Lưu ý: Mục có dấu (*) là thông tin bắt buộc phải điền
        </p>
        <p class='suss_mess' *ngIf="isHaveTicket">
          Chúng tôi Rất mong được đón tiếp quý khách
        </p>
        Trong trường hợp thồn tin đăng nhập chưa chính xác, Quý khách vui lòng liên hệ Chuyên Viên Quản Lý Khách Hàng:
        hoặc gọi đến tổng đài <strong>180058822</strong> để được trợ giúp
      </div>
    </div>
  </div>
</div>