<div class='main bg-mobile'>
  <div class='content'>
    <div class='logo'>
      <img class='logo_30' src="../assets/Logo_30.png" alt="">
      <img class='logo_tech' src="../assets/LogoTech.png" alt="">
    </div>
    <div class='content-main'>
      <div *ngIf="!isHaveTicket">
        <p class='title'>
          Chúc mừng quý khách đã sở hữu cặp vé
          <br>
          tham dự Đại nhạc hội.
          <br>
          Vui lòng điền thông tin sau để nhận vé:
        </p>
        <p class='title-mobile'>
          Chúc mừng quý khách đã sở hữu cặp vé
          <br>
          tham dự
        </p>
        <img class='img-mobile' src="../assets/thoi khac giao thoi.png" alt="">
        <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
          <div class='item'>
            MÃ SỐ LƯU VÉ*
            <input type="text" formControlName='code' required>
          </div>
          <div class='item'>
            HỌ VÀ TÊN*
            <input type="text" formControlName='name' required>
          </div>
          <div class='item'>
            EMAIL
            <input type="text" formControlName='email'>
          </div>
          <button>
            NHẬN VÉ
          </button>
        </form>
      </div>
      <img class='img-mobile mb-20' *ngIf="isHaveTicket" src="../assets/thoi khac giao thoi.png" alt="">
      <div class='swiper-div' *ngIf="isHaveTicket">
        <div class="swiper">
          <div>
            <swiper #swiper [slidesPerView]="1" [spaceBetween]="0" [centeredSlides]="true" [keyboard]="{enabled: true}"
              [virtual]="true" class="my-swiper" (slideChange)="onSlideChange($event)">
              <ng-template swiperSlide *ngFor="let data of user; index as index">
                <div *ngIf="isHaveTicket" class='ticker swiper-slide-container'>
                  <div class='info_div'>
                    <div class='info'>
                      <p>
                        <strong>
                          {{data?.name}}
                        </strong>
                      </p>
                      <p>KHÁN ĐÀI: {{data?.params['Khán đài']}}</p>
                      <p>SỐ GHẾ: {{data?.params['Số Ghế']}}</p>
                    </div>
                    <div class='info_type'
                      [ngStyle]="{ 'border-color':  data.rank_data.color, background: data.rank_data.color}"
                      *ngIf="data.rank_data">
                      <strong>
                        {{data.rank_data.name}}
                      </strong>
                    </div>
                  </div>
                  <img class='qr' src="../assets/qr.png" alt="">
                </div>
                <div *ngIf="isHaveTicket">
                  <p>
                    <strong>AGENDA</strong>
                  </p>
                  <div class='div-timeline'>
                    <div class='timeline'>
                      <p class='time'>
                        18:00 - 19:45
                      </p>
                      <p>Đón khách & Tham Gia Khu Trải Nghiệm</p>
                    </div>
                    <div class='timeline'>
                      <p class='time'>
                        20:00
                      </p>
                      <p>Bắt Đầu Chương Trình</p>
                    </div>
                    <div class='timeline'>
                      <p class='time'>20:00 - 20:10</p>
                      <p>Hé Mở Chương Mới Từ Techcombank Priority</p>
                    </div>
                    <div class='timeline'>
                      <p class='time'>
                        20:11 - 20:16
                      </p>
                      <p>Phát Biểu Khai Mạc</p>
                    </div>
                    <div class='timeline'>
                      <p class='time'>
                        20:16 - 21:58
                      </p>
                      <p>Các Tiết Mục Trình Diễn Ca Nhạc</p>
                    </div>
                    <div class='timeline'>
                      <p class='time'>
                        22:00
                      </p>
                      <p>Kết Thúc Chương Trình</p>
                    </div>
                  </div>
                </div>
                <div class='sub'>
                  <p class='suss_mess'>Quý Khách vui lòng chụp màn hình
                    <br>
                    vé để check in vào sự kiện.
                  </p>
                  <p class='suss_mess' *ngIf="isHaveTicket">
                    Chúng tôi rất mong <br> được đón tiếp quý khách!
                  </p>
                  <span *ngIf="isHaveTicket">
                    *Quý Khách vui lòng bảo mật thông tin số ghế để đảm bảo quyền lợi tham dự chương trình.
                    <br>
                    <br>
                    *Quý KH lưu ý, mỗi QR chỉ có thể check-in 1 lần cho mỗi ghế.
                    <br>
                    Ban tổ chức sẽ không chịu trách nhiệm nếu QR code đã được <span class='nowrap'>check-in</span>
                    <br>
                    trong trường hợp KH không bảo mật được thông tin.
                  </span>
                </div>
              </ng-template>
            </swiper>
          </div>
        </div>
        <div class='next' (click)="slidePrev()" *ngIf="isHaveTicket && slide === 2 && user.length >= 2">
          <div class="scrolldown-container">
            <div class="scrolldown-btn">
              <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="60px"
                viewbox="0 0 50 80" enable-background="new 0 0 50 80" xml:space="preserve">
                <path class="first-path" fill="#FFFFFF"
                  d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                </path>
                <path class="second-path" fill="#FFFFFF"
                  d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                </path>
              </svg>
            </div>
          </div>
        </div>
        <div class='prev' (click)="slideNext()" *ngIf="isHaveTicket && slide === 1 && user.length >= 2">
          <div class="scrolldown-container">
            <div class="scrolldown-btn">
              <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="60px"
                viewbox="0 0 50 80" enable-background="new 0 0 50 80" xml:space="preserve">
                <path class="first-path" fill="#FFFFFF"
                  d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                </path>
                <path class="second-path" fill="#FFFFFF"
                  d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                </path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class='sub' *ngIf="!isHaveTicket">
        <p class='' *ngIf="!isHaveTicket">
          Lưu ý: Mục có dấu (*) là thông tin bắt buộc phải điền
        </p>
        <span>
          Trong trường hợp thông tin đăng nhập chưa chính xác, Quý khách vui lòng liên hệ Chuyên Viên Quản Lý
          Khách
          Hàng:
          hoặc gọi đến tổng đài <strong>180058822</strong> để được trợ giúp
        </span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class='loading'>
  <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
    <path
      d="M30.5 16C30.5 17.8385 30.1379 19.659 29.4343 21.3576C28.7308 23.0561 27.6995 24.5995 26.3995 25.8995C25.0995 27.1995 23.5561 28.2307 21.8576 28.9343C20.159 29.6379 18.3385 30 16.5 30C14.6615 30 12.841 29.6379 11.1424 28.9343C9.44387 28.2307 7.90052 27.1995 6.6005 25.8995C5.30048 24.5995 4.26925 23.0561 3.56569 21.3576C2.86212 19.659 2.5 17.8385 2.5 16C2.5 14.1615 2.86212 12.341 3.56569 10.6424C4.26926 8.94387 5.30049 7.40052 6.60051 6.1005C7.90053 4.80048 9.44388 3.76925 11.1424 3.06568C12.841 2.36212 14.6615 2 16.5 2C18.3385 2 20.159 2.36212 21.8576 3.06569C23.5561 3.76926 25.0995 4.80049 26.3995 6.10051C27.6995 7.40053 28.7308 8.94388 29.4343 10.6424C30.1379 12.341 30.5 14.1615 30.5 16L30.5 16Z"
      stroke="#F2F4F7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M16.5 2C18.3385 2 20.159 2.36212 21.8576 3.06569C23.5561 3.76925 25.0995 4.80049 26.3995 6.10051C27.6995 7.40053 28.7308 8.94388 29.4343 10.6424C30.1379 12.341 30.5 14.1615 30.5 16"
      stroke="#1C93CD" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</div>