<div class='main bg-mobile'>
  <div class='content'>
    <div class='logo'>
      <img class='logo_30' src="../assets/Logo_30.png" alt="">
      <img class='logo_tech' src="../assets/LogoTech.png" alt="">
    </div>
    <div class='content-main'>
      <div *ngIf="!isHaveTicket">
        <p class='title'>
          Chúc mừng quý khách là một trong những vị khách sở hữu cặp vé tham dự
          <br>
          Đại nhạc hội.
          <br>
          Vui lòng điền thông tin sau để nhận vé:
        </p>
        <p class='title-mobile'>
          Chúc mừng quý khách là một trong những vị khách sở hữu cặp vé tham dự
        </p>
        <img class='img-mobile' src="../assets/cat dung cụm chữ thời khắc giao thời.png" alt="">
        <form [formGroup]="form" (ngSubmit)="submit()" ngNativeValidate>
          <div class='item'>
            MÃ ĐỊNH DANH*
            <input type="text" formControlName='code' required>
          </div>
          <div class='item'>
            HỌ VÀ TÊN*
            <input type="text" formControlName='name' required>
          </div>
          <div class='item'>
            EMAIL
            <input type="text" formControlName='email'>
          </div>
          <button>
            NHẬN VÉ
          </button>
        </form>
      </div>
      <div *ngIf="isHaveTicket" class='ticker'>
        <img class='img-mobile mb-20' src="../assets/cat dung cụm chữ thời khắc giao thời.png" alt="">
        <div class='info_div'>
          <div class='info'>
            <p>
              <strong>
                {{user.name}}
              </strong>
            </p>
            <p>MÃ ĐỊNH DANH: {{user.code}}</p>
            <p>KHÁN ĐÀI: A1</p>
            <p>SỐ GHẾ: {{user.number}}</p>
          </div>
          <div class='info_type' [ngStyle]="{ 'border-color': user.color, background: user.color}">
            <strong>
              {{user.type}}
            </strong>
          </div>
        </div>
        <img class='qr' src="../assets/qr.png" alt="">
        <button>
          LƯU HÌNH ẢNH VÉ
        </button>
        <div>
          <p>
            <strong>AGENDA</strong>
          </p>
          <div class='div-timeline'>
            <div class='timeline'>
              <p class='time'>
                18:00 - 19:45
              </p>
              <p>Đón khách & Tham Gia Khu Trải Nghiệm</p>
            </div>
            <div class='timeline'>
              <p class='time'>
                20:00
              </p>
              <p>Bắt Đầu Chương Trình</p>
            </div>
            <div class='timeline'>
              <p class='time'>20:00 - 20:10</p>
              <p>Hé Mở Chương Mới Từ Techcombank Priority</p>
            </div>
            <div class='timeline'>
              <p class='time'>
                20:11 - 20:16
              </p>
              <p>Phát Biểu Khai Mạc</p>
            </div>
            <div class='timeline'>
              <p class='time'>
                20:16 - 21:58
              </p>
              <p>Các Tiết Mục Trình Diễn Ca Nhạc</p>
            </div>
            <div class='timeline'>
              <p class='time'>
                22:00
              </p>
              <p>Kết Thúc Chương Trình</p>
            </div>
          </div>
        </div>
      </div>
      <div class='sub'>
        <p class='' *ngIf="!isHaveTicket">
          Lưu ý: Mục có dấu (*) là thông tin bắt buộc phải điền
        </p>
        <p class='suss_mess' *ngIf="isHaveTicket">
          Chúng tôi rất mong <br> được đón tiếp quý khách!
        </p>
        <span *ngIf="isHaveTicket">
          *Quý Khách vui lòng bảo mật thông tin số ghế để đảm bảo quyền lợi tham dự chương trình.
          <br>
          <br>
          *Quý KH lưu ý, mỗi QR chỉ có thể check-in 1 lần cho mỗi ghế.
          <br>
          Ban tổ chức sẽ không chịu trách nhiệm nếu QR code đã được check-in
          <br>
          trong trường hợp KH không bảo mật được thông tin.
        </span>
        <span *ngIf="!isHaveTicket">
          Trong trường hợp thông tin đăng nhập chưa chính xác, Quý khách vui lòng liên hệ Chuyên Viên Quản Lý Khách
          Hàng:
          hoặc gọi đến tổng đài <strong>180058822</strong> để được trợ giúp
        </span>
      </div>
    </div>
  </div>
</div>